<nav class="navbar navbar-expand-sm navbar-light bg-white fixed-top">
  <div class="container">
    <img src="../assets/1.webp" style="margin-left: 50px"/>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto" style="color:black ;">
        <li class="nav-item" style="margin-left:30px;">
          <a class="nav-link" href="javascript:void(0)">Audio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Peripherals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Accessories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Smart Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Personal Grooming</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Surveillance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Health Care</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Support</a>
        </li>
      </ul>
      <form class="d-flex">
        <i class="fa fa-search" style="padding: 10px;"></i>
        
      </form>
    </div>
  </div>
</nav>
<div class="row" style="margin-top:-10px ;">
  <div id="demo" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    </div>
  
    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../assets/2.webp" alt="Los Angeles" class="d-block" style="width:100%;height: 650px;">
      </div>
      <div class="carousel-item">
        <img src="../assets/4.jpg" alt="Chicago" class="d-block" style="width:100%;height: 650px;">
      </div>
      <div class="carousel-item">
        <img src="../assets/3.jpg" alt="New York" class="d-block" style="width:100%;height: 650px;">
      </div>
    </div>
    
    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
</div>
<br>
<div class="row" style="margin-top:10px ;">
  <div class="col-lg-1">

  </div>
  <div class="col-lg-5">
    <img src="../assets/2.webp" alt="Los Angeles" class="d-block" style="width:100%;height: 300px;">
  </div>
  <div class="col-lg-5">
    <img src="../assets/2.webp" alt="Los Angeles" class="d-block" style="width:100%;height: 300px;">
  </div>
  <div class="col-lg-1">
    
  </div>
</div>
<br>
<div class="row">
   <h3 class="text-center">TRENDING CATEGORIES</h3>
</div>
<br>
<div class="row">
  <div class="col" style="margin-left:120px">
    <img src="../assets/2.webp" alt="Los Angeles" class="d-block" style="width:90%;height: 130px;border-radius: 6px;">
  </div>
  <div class="col" style="margin-left:-50px">
    <img src="../assets/2.webp" alt="Los Angeles" class="d-block" style="width:90%;height: 130px;border-radius: 6px;">
  </div>
  <div class="col" style="margin-left:-50px">
    <img src="../assets/2.webp" alt="Los Angeles" class="d-block" style="width:90%;height: 130px;border-radius: 6px;">
  </div>
  <div class="col" style="margin-left:-50px">
    <img src="../assets/2.webp" alt="Los Angeles" class="d-block" style="width:90%;height: 130px;border-radius: 6px;">
  </div>
  <div class="col" style="margin-left:-50px">
    <img src="../assets/2.webp" alt="Los Angeles" class="d-block" style="width:90%;height: 130px;border-radius: 6px;">
  </div>
</div>
<div class="row" style="margin-top: 10px">
  <div class="col" style="margin-left:120px">
    <img src="../assets/3.jpg" alt="Los Angeles" class="d-block" style="width:90%;height: 130px;border-radius: 6px;">
  </div>
  <div class="col" style="margin-left:-50px">
    <img src="../assets/3.jpg" alt="Los Angeles" class="d-block" style="width:90%;height: 130px;border-radius: 6px;">
  </div>
  <div class="col" style="margin-left:-50px">
    <img src="../assets/3.jpg" alt="Los Angeles" class="d-block" style="width:90%;height: 130px;border-radius: 6px;">
  </div>
  <div class="col" style="margin-left:-50px">
    <img src="../assets/3.jpg" alt="Los Angeles" class="d-block" style="width:90%;height: 130px;border-radius: 6px;">
  </div>
  <div class="col" style="margin-left:-50px">
    <img src="../assets/3.jpg" alt="Los Angeles" class="d-block" style="width:90%;height: 130px;border-radius: 6px;">
  </div>
</div>
<br>

<div class="row">
  <h3 class="text-center">TRENDING PRODUCTS</h3>
</div>
<br>
<div class="row" style="margin-top: 10px">
  <div class="col" style="margin-left:120px">
    <img src="../assets/5.webp" alt="Los Angeles" class="d-block" style="width:90%;height: 350px;border-radius: 1px;">
  </div>
  <div class="col" style="margin-left:-50px">
    <img src="../assets/6.webp" alt="Los Angeles" class="d-block" style="width:90%;height: 700px;border-radius: 1px;">
  </div>
  <div class="col" style="margin-left:-50px">
    <img src="../assets/7.webp" alt="Los Angeles" class="d-block" style="width:90%;height: 350px;border-radius: 1px;">
  </div>
  <div class="col" style="margin-left:-50px">
    <img src="../assets/8.webp" alt="Los Angeles" class="d-block" style="width:90%;height: 350px;border-radius: 1px;">
  </div>
  </div>
  <div class="row" style="margin-top: -350px">
    <div class="col" style="margin-left:120px">
      <img src="../assets/5.webp" alt="Los Angeles" class="d-block" style="width:330px;height: 350px;border-radius: 1px;">
    </div>
    <div class="col" style="margin-left:-50px">
      
    </div>
    <div class="col" style="margin-top: -350px;">
      <img src="../assets/7.webp" alt="Los Angeles" class="d-block" style="width:680px;height: 350px;border-radius: 1px;margin-left: 805px;">
    </div>
    <div class="col" style="margin-left:-50px">
      
    </div>
    </div>
    <br>

<div class="row">
  <h3 class="text-center">JUST LAUNCHED</h3>
</div>
<div class="row">
  <div class="col-lg-3" style="padding: 15px;">
    
    <img src="../assets/11.webp" alt="Card image" style="width:100%;margin-left: 50px;">
   <br>
      <h4 class="card-title text-center">WIRELESS SPEAKERS</h4>
      <p class="card-text text-center">Zeb-Vita Pro<br>
        Rs. 3,499.00</p>
</div>
  <div class="col-lg-3" style="padding: 10px;">
    
    <img src="../assets/12.webp" alt="Card image" style="width:100%">
   <br>
      <h4 class="card-title text-center">WIRELESS SPEAKERS</h4>
      <p class="card-text text-center">Zeb-Vita Pro<br>
        Rs. 3,499.00</p>
</div>
  
  <div class="col-lg-3" style="padding: 10px;">
    
    <img src="../assets/13.webp" alt="Card image" style="width:100%">
   <br>
      <h4 class="card-title text-center">WIRELESS SPEAKERS</h4>
      <p class="card-text text-center">Zeb-Vita Pro<br>
        Rs. 3,499.00</p>
</div>
  
  <div class="col-lg-3" style="padding: 10px;">
    
      <img src="../assets/14.webp" alt="Card image" style="width:100%">
     <br>
        <h4 class="card-title text-center">WIRELESS SPEAKERS</h4>
        <p class="card-text text-center">Zeb-Vita Pro<br>
          Rs. 3,499.00</p>
  </div>
</div>
<br>
<br>
<div class="row">
  <h3 class="text-center">GADGET GUIDE</h3>
  <p class="text-center">Check out our curated collections with best deals and discounts, specially for you.</p>
</div>
<br>
<div class="container">
  <div class="row">
  <div class="col-lg-4">
    <div class="card" style="width:400px">
      <img class="card-img-top" src="../assets/15.webp" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">BIG Screen Entertainment</h4>
        <p class="card-text">Indulge into a theatre-like experience at home with Projectors & Soundbars</p>
        <a href="#" class="btn btn-primary">CHECK OUT NOW</a>
      </div>
    </div>
    </div>
    <div class="col-lg-4">
      <div class="card" style="width:400px">
        <img class="card-img-top" src="../assets/16.webp" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Esports Kit</h4>
          <p class="card-text">Everything under one roof to get your esports journey started.</p>
          <a href="#" class="btn btn-primary">VIEW PRODUCTS</a>
        </div>
      </div>
      </div>
      <div class="col-lg-4">
        <div class="card" style="width:400px">
          <img class="card-img-top" src="../assets/17.webp" alt="Card image" style="width:100%">
          <div class="card-body">
            <h4 class="card-title">Burn it down!</h4>
            <p class="card-text">Sweat it out with Music!</p>
            <a href="#" class="btn btn-primary">View Products</a>
            <br>
            <br>
          </div>
        </div>
        </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
  <div class="col-lg-4">
    <div class="card" style="width:400px">
      <img class="card-img-top" src="../assets/18.jpg" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">BIG Screen Entertainment</h4>
        <p class="card-text">Indulge into a theatre-like experience at home with Projectors & Soundbars</p>
        <a href="#" class="btn btn-primary">CHECK OUT NOW</a>
      </div>
    </div>
    </div>
    <div class="col-lg-4">
      <div class="card" style="width:400px">
        <img class="card-img-top" src="../assets/19.webp" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Esports Kit</h4>
          <p class="card-text">Everything under one roof to get your esports journey started.</p>
          <a href="#" class="btn btn-primary">VIEW PRODUCTS</a>
        </div>
      </div>
      </div>
      <div class="col-lg-4">
        <div class="card" style="width:400px">
          <img class="card-img-top" src="../assets/20.webp" alt="Card image" style="width:100%">
          <div class="card-body">
            <h4 class="card-title">Burn it down!</h4>
            <p class="card-text">Sweat it out with Music!</p>
            <a href="#" class="btn btn-primary">View Products</a>
            <br>
            <br>
          </div>
        </div>
        </div>
  </div>
</div>
<br>
<br>
<div class="row">
  <h3 class="text-center">@ FOLLOW US ON</h3>
  <p class="text-center">INSTAGRAM</p>
</div>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col">
      <img src="../assets/21.jpg" alt="Card image" style="width:100%;height: 100%;">
    </div>
    <div class="col">
      <img src="../assets/22.jfif" alt="Card image" style="width:100%">
    </div>
    <div class="col">
      <img src="../assets/23.jpg" alt="Card image" style="width:100%">
    </div>
    <div class="col">
      <img src="../assets/24.jpg" alt="Card image" style="width:100%">
    </div>
    <div class="col">
      <img src="../assets/25.jfif" alt="Card image" style="width:100%">
    </div>
  </div>
</div>
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <h4>Zebronics: Premium for masses.</h4>
    <br>
    <p>Revolutionizing technology for the masses, incorporating Excellence, Quality and Reliability in products range, be it Soundbars | Home Theatres | Headphones | Earphones | TWS | Gaming Cabinets | Monitor | Keyboards | Mouse | IT & Work from Home Peripherals | Power Banks | Computer / Mobile & Laptop Accessories | Fitness Bands | Smart Watch | CCTV | Smart Home Automation | Oximeters | Power UPS with best price, brand warranty and after-sales support. Since 1997.</p>
  </div>
</div>
<br>
<br>
<div class="container-fluid" style="background-color: gainsboro">
  <div class="row"> 
    <div class="col-lg-2">

    </div>
    <div class="col-lg-2" style="margin-top:50px">
     <h5>Company</h5>
     <p style="margin-top: 15px;">About Us</p>
     <p>Brand Stores</p>
     <p>Careers</p>
     <p>News Centre</p>
     <p>Security</p>
     <p>Blog</p>
     <p>CSR</p>
    </div>
    <div class="col-lg-2" style="margin-top:50px">
      <h5>Product</h5>
      <p style="margin-top:15px ;">Audio</p>
      <p>Gaming</p>
      <p>Peripherals</p>
      <p>Smart Fitness Watch</p>
      <p>Personal Grooming</p>
      <p>Surveillance</p>
     </div>
     <div class="col-lg-2" style="margin-top:50px">
      <h5>Support</h5>
      <p style="margin-top:15px;">Contact Us</p>
      <p>Support Centre</p>
      <p>Terms & Conditions</p>
      <p>Smart Fitness Watch</p>
      <p>Privacy Policy</p>
      <p>Warranty Policy</p>
      <p>Shipping & Returns</p>
      <p>E-waste Management</p>
      <p>Warranty Registration</p>
     </div>
     <div class="col-lg-2" style="margin-top:50px">
      <h5>Stay Connected</h5>
      <p style="margin-top: 15px;">Subscribe to get latest product launches offers, exclusive news.</p>
      <p>

          <input type="text" class="form-control" placeholder="Email">
          <button class="btn btn-primary" type="button" style="margin-top:-67px;margin-left:200px">Submit</button>
      </p>
      <p style="margin-top: -10px">
        <i class="fa fa-facebook" style="margin-left:0px;"></i>
        <i class="fa fa-twitter" style="margin-left:20px;"></i>
        <i class="fa fa-google" style="margin-left:20px;"></i>
        <i class="fa fa-instagram" style="margin-left:20px;"></i>
        <i class="fa fa-youtube" style="margin-left:20px;"></i>
      </p>
     </div>
     <div class="col-lg-2">
      
    </div>
    <br>
    <br>
  </div>
  <br>
  <br>
</div>

<div class="container-fluid" style="background-color:black">
  <div class="text-left p-3" style="background-color:black;color:white">
    <img src="../assets/26.webp" style="height:30px ;margin-left: 80px;">
    © 2010-2021 Zebronics India Pvt Ltd.* All Rights Reserved
    
    
    
  </div>
  </div>

  
